*{
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
  font-family: "Poppins", sans-serif;
}
input {
  padding: 1em 0.5em;
  background-color: #3a3939;
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
  outline: none;
}
button {
  outline: none;
  border: none;
  background-color: #e01a38;
  color: #ffffff;
  border-radius: 0.5em;
} 
a{
  color: #fff;
  text-decoration: none;
} 

.wth h1{
  font-family: "Bangers", sans-serif;
  letter-spacing: 3px;
  margin-bottom: 5px;

  background-image: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container{
  background-color: #171821;
  width: 90%;
  max-width: 500px;
  margin: 2% 50%;
  padding: 40px 20px;
  transform: translateX(-50%);
  border-radius: 1em;
}
.input-container{
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
}

.display-container{
  padding: 1em;
}
.container-character-image{
  background-color: #ffffff;
  padding: 0.5em;
  height: 9.37em;
  width: 9.37em;
  display: block;
  margin: auto;
  border-radius: 50%;
}
.container-character-image img {
  width: 100%;
  position: relative;
  width: block;
  border-radius: 50%;
}
.character-name {
  padding: 0.5em 0 0.8em 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}
.character-description {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  color: #fff;
  opacity: .5;
  line-height: 2em;
  font-weight: 300;
}
.list {
  position: absolute;
  width: 64%;
  background-color: #555;
  color: #ffffff;
  z-index: 1;
}
.autocomplete-items {
  padding: 0.5em;
}
.autocomplete-items:hover {
  background-color: #ddd;
  color: #171821;
}

.social{
  font-weight: bold;
  position: fixed;
  top: 20px;
}
.social ul{
  padding: 0px;
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}
.social ul li:hover{
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a{
  color: #000;
}
.social ul li:hover i{
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  transform: rotate(360deg);
  transition: all 1s;
}
.social ul li i{
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  transform: rotate(0deg);
}

@media screen and (max-width: 900px) {

  .social ul{
    margin-top: 200px;
  }
  
}